* {
  outline: 1px solid --peru;
}

.container {
  width: 1200px;
  margin: 0 auto;
}


.Header .top_menu {
  line-height: 40px;
  border-bottom: 1px solid #f1f1f1;
}

.Header .top_menu .t_menu {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 14px;
}

.Header .ash_wrap {
  display: flex;
  justify-content: space-between;
  flex: 1;
  line-height: 70px;
}

.Header .ash_wrap .gnb {
  display: flex;
  gap: 60px;
  font-size: 17px;
  font-weight: 500;
  text-align: right;
}

.MainVisual .bg {
  position: relative;
  height: 100vh;
  background: url(./../public/images/mainvisual01.PNG)no-repeat center center/100%;
}

/* .MainVisual figure {
  position: relative;
  height: 800px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
} 

 .MainVisual .itm01 {
  background-image: url(../public/images/mainvisual01.PNG);
} 

 .MainVisual .itm02 {
  background-image: url(../public/images/mainvisual03.jpg);
}  */

.MainVisual .container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 0 0 0 -600px; */
  color: #111;
  text-align: center;
}

.MainVisual .tit {
  font-size: 55px;
  font-weight: 700;
  margin: 0 0 20px 0;
  color: #fff;
  text-shadow: 0 0 3px #333;
}

.MainVisual .des {
  font-size: 23px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 3px #333;
}

.total_sevice {
  padding: 100px 0;
  text-align: center;
}

.total_sevice figure {
  margin: 0 0 30px 0;
}

.total_sevice img {
  width: 80px;
}

.total_sevice .top {
  margin: 0 0 10px 0;
}

.total_sevice .top,
.total_sevice .bottom {
  display: flex;
  gap: 20px;
}

.total_sevice .top>div,
.total_sevice .bottom>div {
  width: 399px;
  border-top: 2px solid #0e787c;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 30px 10px;
}

.total_sevice .top .main_tit {
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.total_sevice .top p {
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.total_sevice .top .two {
  height: 44px;
}

.total_sevice .top .short {
  height: 55px;
}

.total_sevice .f_box {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 30px;
  border: 1px solid #0e787c;
  border-radius: 5px;
  margin: 0 5px;
}

.total_sevice .s_box {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 30px;
  margin: 0 10px 10px 10px;
  border: 1px solid #0e787c;
  border-radius: 5px;
}

.total_sevice .online .check {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 110px;
  border: 1px solid #0e787c;
  border-radius: 5px;
}

.total_sevice .information .main_num {
  display: block;
  margin: 0 0 3px 0;
  font-size: 15px;
  font-weight: 500;
}

.total_sevice .information .kind {
  display: inline-block;
  margin: 0 0 3px 0;
  font-size: 15px;
  font-weight: 500;
  width: 110px;
}

.total_sevice .information .number {
  display: inline-block;
  margin: 0 0 3px 0;
  font-size: 15px;
  font-weight: 500;
}

.total_sevice .information .main {
  width: 95px;
}

.total_sevice .information .children {
  margin: 0 0 20px 0;
}

.total_sevice .look {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.total_sevice .look input {
  text-indent: 0.5em;
  padding: 5px;
  border: none;
  outline: none;
  border: 1px solid #999;
  border-radius: 3px;
}

.total_sevice .wirte_name {
  margin: 0 0 10px 0;
}

.total_sevice button {
  background: #0e787c;
  border: none;
  outline: none;
  color: #fff;
  padding: 26px 15px;
  border-radius: 5px;
}

.check_sec {
  padding: 100px 0;
  background: #0e787c;
  color: #111;
}

.check_sec h2 {
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 20px 0;
  color: #f1f1f1;
}

.check_sec .sub_des {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 50px 0;
  color: #f1f1f1;
}

.check_sec h3 {
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 10px 0;
}

.check_sec p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

.check_sec input {
  margin: 0 0 50px 0;
}

.check_sec .box_center {
  display: flex;
  justify-content: space-between;
}

.check_sec .box_center>div {
  width: 290px;
  padding: 50px 30px;
  background: #ee8824;
}

.check_sec .box_center .symbol {
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
}

.check_sec .box_center img {
  width: 80px;
}

.check_sec .search_box {
  position: relative;
  display: flex;
  /* margin: 0 auto; */
}

.check_sec .search_box input[type="text"] {
  font-size: 20px;
  margin-left: 250px;
  width: 700px;
  border: none;
  outline: none;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 5px;
  border-radius: 3px;
}

.check_sec .search_box input::placeholder {
  text-indent: 0.5em;
}


.check_sec .search_box button {
  position: absolute;
  top: 5px;
  right: 23%;
  display: inline-block;
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
  color: #0e787c;
}

.news {
  padding: 100px 0;
}

.news h2 {
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 20px 0;
}

.news .sub_tit {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 30px 0;
}

.news .tab {
  width: 1200px;
}

.news .tab_menu {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 500;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #0e787c;
  text-align: center;
  margin: 0 0 30px 0;
}

.news .tab_menu>li {
  flex: 1;
  padding: 15px 0;
}

.news .tab_menu>li:hover {
  cursor: pointer;
}

.news .tab_menu>li.on {
  background: #0e787c;
  color: #f1f1f1;
}

.news .tab_menu>li~li {
  border-left: 1px solid #ddd;
}

.news .content_box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.news .tab_data {
  width: 393px;
  height: 220px;
  border: 1px solid #ddd;
  padding: 40px 30px;
  word-break: keep-all;
}

.news .tab_data:hover {
  border: 1px solid #0e787c;
  cursor: pointer;
}

.news .tab_data .date {
  display: block;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: #0e787c;
}

.news .tab_data strong {
  display: block;
  margin: 0 0 10px 0;
  height: 50px;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.3;
}

.news .tab_data>p {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
}

.slide_part {
  position: relative;
  padding: 100px 0;
}

.slide_part figure {
  position: relative;
  height: 400px;
  /* filter: brightness(0.4); */
}

/* .slide_part .bg {
  filter: brightness(0.4);
} */

.slide_part .itm01 {
  background: url(../public/images/slide_new_01.jpg)no-repeat center center/100%;

}

.slide_part .itm02 {
  background: url(../public/images/slide_new_02.jpg)no-repeat center center/100%;
}

.slide_part .itm03 {
  background: url(../public/images/slide_new_03.jpg)no-repeat center center/100%;
}

.slide_part .itm04 {
  background: url(../public/images/slide_new_04.jpg)no-repeat center center/100%;
}

.slide_part .itm05 {
  background: url(../public/images/slide_new_05.jpg)no-repeat center center/100%;
}

.slide_part .itm06 {
  background: url(../public/images/slide_new_06.jpg)no-repeat center center/100%;
}

.slide_part .itm07 {
  background: url(../public/images/slide_new_07.jpg)no-repeat center center/100%;
}

.slide_part .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.slide_part .container .tit {
  font-size: 33px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #f1f1f1;
}

.slide_part .container .des {
  font-size: 17px;
  font-weight: 400;
  color: #f1f1f1;
}

.slide_part .dots {
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0;
}

.slide_part .dots>li {
  display: inline-block;
  width: 50px;
  height: 3px;
  background: #ddd;
  margin: 3px;
  vertical-align: middle;
}

.slide_part .dots>li.on {
  background: #ee8824;
}

.slide_part .arrows i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #ddd;
  z-index: 999;
}

.slide_part .arrows i:first-child {
  margin: 0 0 0 -750px;
}

.slide_part .arrows i:last-child {
  margin: 0 0 0 750px;
}

.footer {
  padding: 0 0 120px 0;
  background: #7e8389;
  color: #f1f1f1;
  font-size: 15px;
}

.footer .top {
  display: flex;
  justify-content: space-between;
  line-height: 90px;
}

.footer .top .top_menu {
  display: flex;
}

.footer .top .top_menu>li~li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #f1f1f1;
  margin: 0 15px;
}

.footer .bottom {
  display: flex;
  justify-content: space-between;
}

.footer .bottom .left {
  line-height: 1.3;
}

.footer .bottom .right {
  display: flex;
  gap: 10px;
}

.down .scroll .scr {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  width: 1px;
  height: 100px;
  color: #fff;
}